.elysian
  width: 100%
  height: 100vh

  display: flex
  flex-direction: row

  overflow: hidden !important

  &-toggleSide
    min-width: 10px
    height: 100vh

    border: 1px solid black
    background: white

    cursor: pointer

    transition: 0.5s ease

    &:hover
      background-color: black
