.home
  font-size: 1em
  font-weight: 300
  display: flex
  flex-direction: column

  box-sizing: border-box

  width: 50%
  height: 90%

  align-self: center

  padding: 50px 100px

  position: relative

  z-index: 2

  background-color: white
  -webkit-animation: slit-in-horizontal 1s ease-out both
  animation: slit-in-horizontal 1s ease-out both

  overflow-x: hidden

  transition: 0.5s ease
  animation: floating 2s ease-in-out infinite alternate, fade-in 1.5s both

  &.exit
    -webkit-animation: slit-out-horizontal 0.5s ease-in both
    animation: slit-out-horizontal 0.5s ease-in both

  @media (max-width: 1400px)
    width: 70%

  @media (max-width: 1100px)
    width: 100%

  @media (max-width: 900px)
    font-size: 0.8em

  &::-webkit-scrollbar
    background: none
    border-left: 1px dashed grey
    width: 0.5em

  &::-webkit-scrollbar-thumb
    background-color: grey

  &:hover
    border-radius: 10px 0 0 0
    box-shadow: 0 5px red

  &__top
    display: flex
    flex-direction: row
    justify-content: space-between

    &__header
      color: red
      letter-spacing: 3px
      font-size: 0.9em

      display: flex
      flex-direction: column
      align-items: flex-start

      @media (max-width: 600px)
        max-width: 290px
        word-wrap: break-word

      &-choice
        float: left
        overflow: hidden
        color: red

        padding: 0

        cursor: pointer

        transition: 0.5s ease

        &:hover
          color: black

      &-choices
        display: none
        flex-direction: column
        align-items: flex-start

        position: absolute

        margin-top: 30px

        background-color: #e9e9e9

        box-shadow: 0 -5px red


        z-index: 5
        padding: 5px

        &.show
          display: flex

          animation: fade-in-transparent 0.5s ease forwards

        button
          color: black
          font-weight: 400

          margin: 3px 0

          cursor: pointer

          transition: 0.3s ease

          &:hover
            color: red

    &-date
      color: red
      font-size: 0.9em

      margin: 0

  &-title
    font-size: 2em
    letter-spacing: 5px
    width: 100%

    margin: 30px 0 40px 0

    font-weight: 300

    color: red

    background-color: #F5F5F5
    box-sizing: border-box

    padding: 10px

    border-radius: 5px

    &::placeholder
      font-weight: 100
      color: lightgrey

  &-btn
    border: 1px solid red
    color: red
    font-size: 0.8em

    width: 160px

    margin-right: 23px
    margin-bottom: 15px

    transition: 0.3s ease
    cursor: pointer

    border-radius: 5px

    &:hover
      background-color: red
      color: white

  &-undobtn
    position: absolute
    left: 3%
    bottom: 5%

    background-color: red
    border: 1px solid red
    color: white

    animation: fade-in 0.5s ease forwards
    cursor: pointer

    &:hover
      background-color: white
      border: 1px solid black
      color: black

    &.exit
      animation: fade-out 0.5s ease forwards

  &__form
    display: grid
    grid-template-rows: 30px 1fr

    background-color: #F5F5F5
    box-sizing: border-box

    border-radius: 5px

    &__top
      display: flex
      flex-direction: row

      &-subtract
        font-size: 1em
        font-weight: 300

        opacity: 0.9

        align-self: baseline

        z-index: 0

        cursor: pointer
        transition: 0.5s ease

        &:hover
          font-weight: 900

    &-input
      outline: none
      background: none
      border: none

      color: black
      font-family: "Quicksand", sans-serif
      font-size: 1em
      font-weight: 300
      letter-spacing: 1px

      word-wrap: true
      overflow-y: auto
      resize: none

      box-sizing: border-box
      padding: 10px

      &::placeholder
        font-weight: 100
        color: grey

      &::-webkit-scrollbar
        background-color: white
        border: 1px solid lighten(grey, 20%)

      &::-webkit-scrollbar-thumb
        border: 1px solid grey

    &-newline
      width: 200px

      font-size: 0.8em
      color: grey

      margin-top: 10px

      transition: 0.5s ease
      cursor: pointer

      border-radius: 5px

      background-color: #F5F5F5
      box-sizing: border-box

      &:hover
        background-color: red
        color: white


/* ----------------------------------------------
 * Generated by Animista on 2019-8-12 11:48:3
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat
  from
    -webkit-transform: scale(1)
    transform: scale(1)
    -webkit-transform-origin: center center
    transform-origin: center center
    -webkit-animation-timing-function: ease-out
    animation-timing-function: ease-out
  10%
    -webkit-transform: scale(0.91)
    transform: scale(0.91)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in
  17%
    -webkit-transform: scale(0.98)
    transform: scale(0.98)
    -webkit-animation-timing-function: ease-out
    animation-timing-function: ease-out
  33%
    -webkit-transform: scale(0.87)
    transform: scale(0.87)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in
  45%
    -webkit-transform: scale(1)
    transform: scale(1)
    -webkit-animation-timing-function: ease-out
    animation-timing-function: ease-out
@keyframes heartbeat
  from
    -webkit-transform: scale(1)
    transform: scale(1)
    -webkit-transform-origin: center center
    transform-origin: center center
    -webkit-animation-timing-function: ease-out
    animation-timing-function: ease-out
  10%
    -webkit-transform: scale(0.91)
    transform: scale(0.91)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in
  17%
    -webkit-transform: scale(0.98)
    transform: scale(0.98)
    -webkit-animation-timing-function: ease-out
    animation-timing-function: ease-out
  33%
    -webkit-transform: scale(0.87)
    transform: scale(0.87)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in
  45%
    -webkit-transform: scale(1)
    transform: scale(1)
    -webkit-animation-timing-function: ease-out
    animation-timing-function: ease-out

/* ----------------------------------------------
 * Generated by Animista on 2019-8-11 21:51:3
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slit-in-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes slit-in-horizontal
  0%
    -webkit-transform: translateZ(-800px) rotateX(90deg)
    transform: translateZ(-800px) rotateX(90deg)
    opacity: 0
    background: rgba(60, 76, 94, 1)

  54%
    -webkit-transform: translateZ(-160px) rotateX(87deg)
    transform: translateZ(-160px) rotateX(87deg)
    opacity: 1

  100%
    -webkit-transform: translateZ(0) rotateX(0)
    transform: translateZ(0) rotateX(0)
    background: white
@keyframes slit-in-horizontal
  0%
    -webkit-transform: translateZ(-800px) rotateX(90deg)
    transform: translateZ(-800px) rotateX(90deg)
    opacity: 0
    background: rgba(60, 76, 94, 1)
  54%
    -webkit-transform: translateZ(-160px) rotateX(87deg)
    transform: translateZ(-160px) rotateX(87deg)
    opacity: 1

  100%
    -webkit-transform: translateZ(0) rotateX(0)
    transform: translateZ(0) rotateX(0)
    background: white
/* ----------------------------------------------
 * Generated by Animista on 2019-8-11 21:54:14
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/* ----------------------------------------------
 * Generated by Animista on 2019-8-11 22:40:16
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slit-out-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes slit-out-horizontal
  0%
    -webkit-transform: translateZ(0) rotateX(0)
    transform: translateZ(0) rotateX(0)
    opacity: 1
  54%
    -webkit-transform: translateZ(-160px) rotateX(87deg)
    transform: translateZ(-160px) rotateX(87deg)
    opacity: 1
  100%
    -webkit-transform: translateZ(-800px) rotateX(90deg)
    transform: translateZ(-800px) rotateX(90deg)
    opacity: 0
@keyframes slit-out-horizontal
  0%
    -webkit-transform: translateZ(0) rotateX(0)
    transform: translateZ(0) rotateX(0)
    opacity: 1
  54%
    -webkit-transform: translateZ(-160px) rotateX(87deg)
    transform: translateZ(-160px) rotateX(87deg)
    opacity: 1
  100%
    -webkit-transform: translateZ(-800px) rotateX(90deg)
    transform: translateZ(-800px) rotateX(90deg)
    opacity: 0

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fade-in-transparent
  0%
    opacity: 0
  100%
    opacity: 0.9

@keyframes fade-out
  0%
    opacity: 1

  100%
    opacity: 0

@keyframes floating
    0%
      transform: translate(0,  0px)
    100%
      transform: translate(0, 5px)
