
.dynamicContainer
  height: 100vh
  width: 100%

  display: flex
  justify-content: center

  box-sizing: border-box

.section
  font-size: 1em
  font-weight: 300
  display: flex
  flex-direction: column

  box-sizing: border-box

  width: 100%

  padding: 10px 30px

  border: 1px solid white

  position: relative

  z-index: 2

  background-color: white
  animation: fade-in 1s ease-out both

  overflow-y: scroll
  overflow-x: hidden

  @media (max-width: 900px)
    font-size: 0.8em

  &::-webkit-scrollbar
    background: none
    border-left: 1px dashed grey
    width: 0.5em

  &::-webkit-scrollbar-thumb
    background-color: grey

  &:hover
    border: 1px solid grey

  &__top
    display: flex
    flex-direction: row
    justify-content: space-between

    &-header
      color: red
      letter-spacing: 3px
      font-size: 0.9em

      @media (max-width: 600px)
        max-width: 290px
        word-wrap: break-word

    &-date
      color: red
      font-size: 0.9em

  &-title
    font-size: 2em
    letter-spacing: 5px
    width: 100%

    margin-left: 0px
    margin-bottom: 10px

    font-weight: 100

    &::placeholder
      color: lighten(black, 20%)

  &-btn
    border: 1px solid red
    color: red
    font-size: 0.8em

    width: 160px

    margin-right: 23px
    margin-bottom: 15px

    transition: 0.3s ease
    cursor: pointer

    &:hover
      background-color: grey
      color: white
      border: 1px solid grey

  &-link
    border: 1px solid red
    color: red
    font-size: 0.8em

    margin-bottom: 15px
    padding: 0px 10px

    box-sizing: border-box

    width: 100%

    transition: 0.3s ease

    &::placeholder
      font-weight: 100
      color: black
  &-undobtn
    position: absolute
    left: 3%
    bottom: 5%

    background-color: red
    border: 1px solid red
    color: white

    animation: fade-in 0.5s ease forwards
    cursor: pointer

    &:hover
      background-color: white
      border: 1px solid black
      color: black

    &.exit
      animation: fade-out 0.5s ease forwards

  &-savebtn
    position: absolute
    right: 3%
    bottom: 5%

    background-color: white
    border: 1px solid black
    color: black

    animation: fade-in 0.5s ease forwards
    cursor: pointer

    &:hover
      background-color: red
      border: 1px solid black
      color: white

  &__form
    display: grid
    grid-template-rows: 30px 1fr


    @media (max-width: 900px)
      margin-left: 0

    &__top
      display: flex
      flex-direction: row

      &-subtract
        font-size: 1em
        font-weight: 300

        opacity: 0.9

        align-self: baseline

        z-index: 0

        cursor: pointer
        transition: 0.5s ease

        &:hover
          font-weight: 900

    &-input
      outline: none
      background: none
      border: 1px solid white

      color: black
      font-family: "Roboto Mono", monospace
      font-size: 0.8em
      font-weight: 300

      word-wrap: true
      overflow-y: auto
      resize: none

      &::placeholder
        font-weight: 100
        color: black

      &::-webkit-scrollbar
        background-color: white
        border: 1px solid lighten(grey, 20%)

      &::-webkit-scrollbar-thumb
        border: 1px solid grey

    &-newline
      width: 200px

      font-size: 0.8em
      color: grey

      margin-top: 10px

      transition: 0.5s ease
      cursor: pointer
      border: 1px dashed grey

      &:hover
        background-color: grey
        color: white


@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fade-out
  0%
    opacity: 1

  100%
    opacity: 0
