
.dynamicContainer
  height: 100vh
  width: 100%

  display: flex
  justify-content: center

  box-sizing: border-box

.section
  font-size: 1em
  font-weight: 300
  display: flex
  flex-direction: column

  box-sizing: border-box

  max-width: 1000px
  width: 50%
  height: 100%

  padding: 1% 3%

  border: 1px solid white

  position: relative

  z-index: 2

  background-color: white
  animation: fade-in 1s ease-out both
  transition: 1.5s ease

  &:hover
    border: 1px solid grey

  &-header
    color: red
    letter-spacing: 3px
    font-size: 0.9em

    @media (max-width: 600px)
      max-width: 290px
      word-wrap: break-word

  &-date
    color: red

    position: absolute
    right: 3%
    top: 1%

  &-title
    font-size: 2em
    letter-spacing: 5px
    width: 90%

    margin-left: 0px
    margin-bottom: 10px

    font-weight: 100

    &::placeholder
      color: lighten(black, 20%)

  &-btn
    border: 1px solid red
    color: red
    font-size: 0.8em

    width: 160px

    margin-right: 23px
    margin-bottom: 15px

    transition: 0.3s ease
    cursor: pointer

    &:hover
      background-color: grey
      color: white
      border: 1px solid grey

  &-link
    border: 1px solid red
    color: red
    font-size: 0.8em

    margin-bottom: 15px
    padding: 0px 10px

    width: 100%

    transition: 0.3s ease

    &::placeholder
      font-weight: 100
      color: black

    @media (max-width: 900px)
      width: 80vw

  &-undobtn
    position: absolute
    left: 0%
    bottom: 5%

    background-color: red
    border: 1px solid red
    color: white

    animation: fade-in 0.5s ease forwards
    cursor: pointer

    &:hover
      background-color: white
      border: 1px solid black
      color: black

    &.exit
      animation: fade-out 0.5s ease forwards

  &-savebtn
    position: absolute
    right: 3%
    bottom: 5%

    background-color: white
    border: 1px solid black
    color: black

    animation: fade-in 0.5s ease forwards
    cursor: pointer

    &:hover
      background-color: red
      border: 1px solid black
      color: white

  &__form
    display: grid
    grid-template-columns: 30px 30px 1fr
    margin-left: -25px

    @media (max-width: 900px)
      margin-left: 0

    &-input
      outline: none
      background: none
      border: 1px solid white
      padding-right: 30px

      max-width: 95%
      width: 95%
      max-height: 70vh

      color: black
      font-family: "Roboto Mono", monospace
      font-size: 0.8em
      font-weight: 300

      word-wrap: true
      resize: none
      overflow-y: auto

      transition: 1.5s ease

      &::placeholder
        font-weight: 100
        color: black

      &::-webkit-scrollbar
        background-color: white
        border: 1px solid grey

      &::-webkit-scrollbar-thumb
        background-color: grey

      &:focus
        border: 1px solid grey

    &-subtract
      font-size: 1em
      font-weight: 300

      opacity: 0.9

      align-self: baseline

      z-index: 0

      cursor: pointer
      transition: 0.5s ease

      &:hover
        font-weight: 900

    &-newline
      width: 200px

      font-size: 0.8em
      color: grey

      margin-top: 10px

      transition: 0.5s ease
      cursor: pointer
      border: 1px dashed grey

      &:hover
        background-color: grey
        color: white


@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fade-out
  0%
    opacity: 1

  100%
    opacity: 0
