.settings
  font-weight: 100

  width: 100%
  height: 100vh

  background-color: white

  display: flex
  flex-direction: column
  align-items: flex-start

  animation: fade-in 1s ease forwards

  &__view
    width: 50vw
    height: 100vh

    align-self: center

    padding: 10px 30px

    border: 1px solid black

    @media (max-width: 1400px)
      width: 70%

    @media (max-width: 1100px)
      width: 100%

    @media (max-width: 900px)
      font-size: 0.8em

  &-title
    font-size: 1.3em

  &__form
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 20px

    @media (max-width: 1500px)
      grid-template-columns: 1fr
      grid-row-gap: 20px

    &-title
      grid-column: 1 / span 2

      @media (max-width: 1500px)
        grid-column: 1

    &-input
      background-color: #F5F5F5
      padding: 5px 10px

      width: 300px

    &-submit
      text-align: center
      border: 1px solid black

      width: 160px

      @media (max-width: 1500px)
        justify-self: flex-end

      &:hover
        background-color: red
        color: white

  &__links
    margin-top: 20px

    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-column-gap: 100px
    grid-row-gap: 30px

    text-align: left

    @media (max-width: 1500px)
      grid-template-columns: 1fr
      grid-row-gap: 20px

    &-title
      grid-column: 1 / span 3

      margin-bottom: -10px

      @media (max-width: 1500px)
        grid-column: 1
        margin-bottom: 20px

    &-button
      text-align: left

      border: 1px solid black
      padding: 5px 10px

      &:hover
        background-color: blue
        color: white

      &.linked
        background-color: blue
        color: white
