.sidebar
  font-weight: 300
  font-size: 0.9em

  width: 200px
  height: 100%

  padding: 0 0 0 15px

  transition: 0.5s ease

  background-color: #F3F3F3

  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards

  z-index: 1

  &:hover
    background-color: #fff
    color: auto

  &.exit
    animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) forwards

  @media (max-width: 900px)
    color: auto
    padding: 0 10px
    box-sizing: border-box

    min-width: 42px !important
    max-width: 42px

  &__items
    display: grid
    grid-template-columns: 20px 180px
    grid-row-gap: 20px

    align-items: center

    @media (max-width: 900px)
      grid-template-columns: 1fr

  &-title
    font-weight: 100
    letter-spacing: 10px
    font-size: 1.5em

    grid-column: 1 / span 2

    @media (max-width: 900px)
      grid-column: 1
      word-break: break-all
      font-size: 1.3em
      letter-spacing: 0

      margin-left: 4px

    @media (max-width: 600px)
      grid-column: 1
      word-break: break-all
      font-size: 1.3em
      letter-spacing: 0

      margin-left: 4px

      content: "e" !important

  img
    cursor: pointer
    border: 1px solid white

    @media (max-width: 900px)
      &:hover
        border: 1px solid black

  &-item
    font-weight: 100
    padding: 0 0 0 10%
    margin: 0

    cursor: pointer

    @media (max-width: 900px)
      display: none

    &:hover
      font-weight: 300
      color: red

    &.separator
      content: ""
      width: 90%
      height: 1px

      border-top: 1px dashed black

      grid-column: 1 / span 2

      padding: 0

      cursor: default

      &:hover
        font-weight: 100
        color: black

    &.name
      margin-top: -20px
      margin-bottom: 20px

  &__footer
    display: grid
    grid-template-columns: 0.1fr 1fr
    grid-row-gap: 0

    align-items: center

    position: absolute
    bottom: 20px

    @media (max-width: 900px)
      grid-template-columns: 1fr
      grid-row-gap: 10px

    &-img
      cursor: pointer

    &-text
      margin-left: 15px

      font-weight: 100
      cursor: pointer

      &:hover
        font-weight: 300

      @media (max-width: 900px)
        display: none

@keyframes slide-in-left
  0%
    width: 0
    opacity: 0
  100%
    opacity: 1
    width: 200px

@keyframes slide-out-left
  0%
    opacity: 1

  100%
    opacity: 0
    width: 0
    display: none
