.sidebar
  font-weight: 300

  width: 200px
  height: 100%

  padding: 0 0 0 1%

  transition: 0.5s ease

  &:hover
    background-color: #F3F3F3
    box-shadow: 10px 0 black
    color: auto

  &__items
    display: grid
    grid-template-columns: 0.1fr 1fr
    grid-row-gap: 20px

    align-items: center

  &-title
    font-weight: 100
    letter-spacing: 10px
    font-size: 1.5em

    grid-column: 1 / span 2

  &-item
    font-weight: 100
    padding: 0 0 0 10%
    margin: 0

    cursor: pointer

    &:hover
      font-weight: 300
      color: red

    &.separator
      content: ""
      width: 90%
      height: 1px

      border-top: 1px dashed black

      grid-column: 1 / span 2

      padding: 0

      cursor: default

      &:hover
        font-weight: 100
        color: black

    &.name
      margin-top: -20px
      margin-bottom: 20px

  &__checkout
    position: absolute
    bottom: 0
    left: 0

    padding: 10px 0 10px 1%

    width: 200px

    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

    transition: 0.5s ease

    cursor: pointer
    &:hover
      background-color: #E0e0e0

    &-img
      margin-left: -50px

    &-text
      margin-left: 15px

      font-weight: 100
